/* ====================== Media Queries ====================== */

@media screen and (max-width: 360px) {
    /* Small screens */
}
@media screen and (min-width: 760px) {
    /* Medium screens */
}




@media screen and (min-width: 940px) {
    /* Large screens */
    .wrapper {
        max-width: 1080px;
      }

    .inside #map-container {
        height: 50%;
        position: fixed;
        right: 0;
        top: 80px;
        width: 50%;
    }

    .inside header {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
    }

    .inside #map {
        background-color: #ccc;
        height: 100%;
        width: 100%;
    }
    .inside .colophon {
        bottom: 0;
        position: absolute;
        width: 50%;
    }

}

