/* ====================== Media Queries ====================== */


@media screen and (max-width: 560px) {
    /* Smallish screens */
    justify-content: space-around;
    .restaurants li {
        width: 40%;
    }
}

@media screen and (min-width: 760px) {
    /* SMedium screens */

    .restaurants li {
        width: 26%;
    }

    .filter-options select {
        width: 200px;

    }

}

@media screen and (min-width: 840px) {
    /* Medium screens */
    .info-snippet {
        display: flex;
    }

}

